
 @import 'reset';
 body{
    background-color: #FAFAFA;
}
.nav-wrapper{
    background-color: #ffffff;
}
.insta-icon{
    font-size: 32px;
}
.instagram{
    font-size: 32px;
    font-family: 'lobster',cursive;
    font-style: italic;
    color: #262626;
    font-weight: bold;
    margin-left: initial;
    
}
.nav-icons{
    font-size: 25px;
    color: #262626;
    

}
.nav-icons.hover{
    font-size: 20px;
    color: #262626;
    text-decoration: none;
   
}
.card{
    height: 500px;
    width:615px ;

}
.test:after {
    content: '\2807';
    font-size: 20px;
}S
.card-img{
    height:615px;
}
.page-image{
    border-radius: 60px;
}
.page-name{
    margin: 0px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
 .card-title{
    margin: 0px;
    margin-left: 8px; 
}
.minutes{
    font-size: 2px;
}
.comment{
    border: 1px solid black;
    text-decoration:none;
    border-style:none;
    background: none;
    height: 3rem;
    width: 40rem;
    outline: none;
}
.comment-section{
    background-color: #ffffff;
    width: 30rem;
    margin: 0;
    margin-left: 0px;
    height: 3rem;
    border: 1px solid #E6E6E6;
}
.card-div{
    margin: 0px;
    margin-top: 61px;
}
a
{
    box-sizing: border-box;
    width: 19%;
    display: inline-block;
    margin-left: -3px;
    text-align: center;
    padding: 12px;
}
.fa{
    color: #111;
    font-size: 25px;
}
